.Card {
  width: 300px;
  height: 250px;
  margin-bottom: 20px;

  position: relative;

  cursor: pointer;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;

  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
a {
  text-decoration: none;
}
.Card:hover {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}
.Thumbnail img {
  width: 100%;
}
.Title p {
  font-size: 20px;
  color: #24292d;
}
.ComingSoon {
  position: absolute;
  top: 0;

  width: 300px;
  height: 24px;

  color: #fff;
  text-align: center;
  line-height: 24px;
  letter-spacing: 2px;

  background-color: #000;
}
